<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship Referee</title>
</head>
<body>

<h1>Match</h1>

<h3>{{ name }} won</h3>

{{#each players}}
    <h3>{{ name }}</h3>
    <h3>{{ message }}</h3>
{{/each}}

</body>
</html>
